@model GeodesyApi.Web.ViewModels.News.EditNewsViewModel
@{
    this.ViewData["Title"] = "Edit a post";
}
<!-- PAGE -->
<section class="page news">
    <aside>
        <h1><img src="~/img/icons/news.svg" alt="" title=""> Редактиране на<br />новини и събития</h1>
        <a href="#" id="show" class="show-nav">&#9776;</a>
        <div class="sidebar-nav" id="pushleft">
            <a href="#" id="hide" class="hide-nav">&times;</a>

    </aside>

    <script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            plugins: ["image paste table link code media"]
        });
    </script>

    <div class="content">
        <div class="news-container">
            <article>
                <form method="post" asp-controller="News" asp-action="Edit" enctype="multipart/form-data">
                    <div>
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="input" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div>
                        <label asp-for="Content"></label>
                        <textarea asp-for="Content" class="form-control"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>

                    <br />

                    <div>
                        <label asp-for="Category" class="dropdown-item">@Html.DropDownListFor(x => x.Category, @Html.GetEnumSelectList(typeof(GeodesyApi.Data.Models.Enums.NewsType)), new { @class = "form-control" })</label>
                    </div>
                    <div>
                        <label asp-for="Group" class="dropdown-item">@Html.DropDownListFor(x => x.Group, @Html.GetEnumSelectList(typeof(GeodesyApi.Data.Models.Enums.NewsGroupType)), new { @class = "form-control" })</label>
                    </div>
                    <hr>
                    <div class="form-group mt-3">
                        <label class="mr-2">Прикачи изображение:</label>
                        <input asp-for="Image" type="file" name="Image" value="@@" ..\wwwroot\img\newsDefaultImage.jpg"">
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary">Запази</button>
                </form>
            </article>
        </div>
    </div>
    </div>

</section><!-- PAGE -->


<script src="js/jquery.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        /* the Responsive menu script */
        $('body').addClass('js');
        var $menu = $('#menu'),
            $menulink = $('.menu-link'),
            $menuTrigger = $('.has-subnav > a');

        $menulink.click(function (e) {
            e.preventDefault();
            $menulink.toggleClass('active');
            $menu.toggleClass('active');
        });

        var add_toggle_links = function () {
            if ($('.menu-link').is(":visible")) {
                if ($(".toggle-link").length > 0) {
                }
                else {
                    $('.has-subnav > a').before('<span class="toggle-link"> Open submenu </span>');
                    $('.toggle-link').click(function (e) {
                        var $this = $(this);
                        $this.toggleClass('active').siblings('ul').toggleClass('active');
                    });
                }
            }
            else {
                $('.toggle-link').empty();
            }
        }
        add_toggle_links();
        $(window).bind("resize", add_toggle_links);

    });
</script>

