@using GeodesyApi.Common
<!DOCTYPE html>

<html>
<head>
    <link rel="icon" href="~/img/logo.jpg" type="image/gif" sizes="16x16">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>УНИВЕРСИТЕТ ПО АРХИТЕКТУРА, СТРОИТЕЛСТВО И ГЕОДЕЗИЯ - ГЕОГРАФСКА ИНФОРМАЦИОННА СИСТЕМА</title>




    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/screens.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/owl.carousel.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/owl.theme.default.min.css" asp-append-version="true">
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/screens.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/owl.carousel.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/owl.theme.default.min.css" asp-append-version="true">
    </environment>
</head>

<body>
    <!-- HEADER -->
    <header>
        <div class="logo">
            <a asp-controller="Home" asp-action="Index" title="Български антарктически институт"><img src="~/img/logo.jpg" alt="УНИВЕРСИТЕТ ПО АРХИТЕКТУРА, СТРОИТЕЛСТВО И ГЕОДЕЗИЯ - ГЕОГРАФСКА ИНФОРМАЦИОННА СИСТЕМА" title="УНИВЕРСИТЕТ ПО АРХИТЕКТУРА, СТРОИТЕЛСТВО И ГЕОДЕЗИЯ - ГЕОГРАФСКА ИНФОРМАЦИОННА СИСТЕМА"> <span>УНИВЕРСИТЕТ ПО АРХИТЕКТУРА, СТРОИТЕЛСТВО И ГЕОДЕЗИЯ<br>ГЕОГРАФСКА ИНФОРМАЦИОННА СИСТЕМА</span></a>
        </div>
        <div class="menu-wrapper">
            <a href="#menu" class="menu-link">	Меню <span class="dropdown-header" aria-hidden="true">	&#x2630;</span></a>
            <nav id="menu" role="navigation">
                <div class="menu">
                    <ul class="menu">
                        <li><a asp-controller="Home" asp-action="Index" title=""><img src="~/img/icons/home.svg" alt="" title=""><br><span>Начало</span></a></li>
                        <li><a href="#" title=""><img src="~/img/icons/catalog-nav.svg" alt="" title=""><br><span>Каталог</span></a></li>
                        <li><a href="#" title=""><img src="~/img/icons/library-nav.svg" alt="" title=""><br><span>Библиотека</span></a></li>
                        <li><a href="http://localhost:1234/" title=""><img src="~/img/icons/gis-nav.svg" alt="" title=""><br><span>ГИС</span></a></li>
                        <li><a asp-controller="Projects" asp-action="All"  title=""><img src="~/img/icons/projects-nav.svg" alt="" title=""><br><span>Проекти</span></a></li>
                        <li><a href="#" title=""><img src="~/img/icons/tests-nav.svg" alt="" title=""><br><span>Проверка на знанията</span></a></li>
                        <li><a asp-route="NumberOfNewsPages" title=""><img src="~/img/icons/news-nav.svg" alt="" title=""><br><span>Новини и събития</span></a></li>
                        <li><a asp-route="NumberOfMaterialsPages" title=""><img src="~/img/icons/mats-nav.svg" alt="" title=""><br><span>Дисциплини и материали</span></a></li>
                        <li><a asp-controller="Contacts" asp-action="Contact"  title=""><img src="~/img/icons/contacts-nav.svg" alt="" title=""><br><span>Контакт</span></a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="login">
            <ul class="menu">
                @if (!this.User.Identity.IsAuthenticated)
                {
                    <li><a asp-area="Identity" asp-controller="Account" asp-action="Login" title=""><img src="~/img/icons/login-nav.svg" alt="" title="" asp-append-version="true"><br><span>Вход</span></a></li>
                    <li><a asp-area="Identity" asp-controller="Account" asp-action="Register" title=""><img src="~/img/icons/reg-nav.svg" alt="" title="" asp-append-version="true"><br><span>Регистрация</span></a></li>
                }
                else
                {
                    <li><a asp-area="Identity" asp-controller="Account" asp-action="Manage" title=""><img src="~/img/icons/user.svg" alt="" title="" asp-append-version="true"><br><span>Профил</span></a></li>
                    <li><a asp-controller="Users" asp-action="Logout" title=""><img src="~/img/icons/logout-nav.svg" alt="" title="" asp-append-version="true"><br><span>Изход</span></a></li>
                }
            </ul>
        </div>
    </header>    <!-- HEADER -->
    <div class="container-custom">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
        </main>
        @this.RenderBody()
    </div>

    @this.RenderSection("Scripts", required: false)

<footer>
    <table style="width:100%">
        <tr>
            <td style="float:left">
                <a asp-controller="Home" asp-action="Privacy" style="float:left">Политика на сайта</a>
            </td>
            <td style="float:none">
                Български антарктически институт, @DateTime.Now.Year
            </td>
            <td style="float:right">
                <a href="https://github.com/NenkoPakov/GeodesyApi" style="float:right">GitHub</a>
            </td>
        </tr>
    </table>
</footer><!-- FOOTER -->

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/lib/moment/min/moment-with-locales.min.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/owl.carousel.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/lib/moment/min/moment-with-locales.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/owl.carousel.js" asp-append-version="true"></script>
    </environment>

</body>
</html>
