@using GeodesyApi.Common
@{
    this.ViewData["Title"] = "Home Page";
}



<section class="home-slider">
    <div class="welcome">
        <span>Добре дошли в платформа на катедра "Геодезия и геоинформатика", Геодезически факултет, УАСГ</span>
        <p>Разгледайте проекти на студентите, карти и материали и научете повече за летните практики.</p>
    </div>


    <div class="fadeOut owl-carousel owl-loaded owl-drag">



        <div class="owl-stage-outer">
            <div class="owl-stage" style="transform: translate3d(-3532px, 0px, 0px); transition: all 0s ease 0s; width: 6181px;">
                <div class="owl-item cloned" style="width: 883px;">
                    <div class="item">
                        <picture>
                            <source srcset="~/img/slide2.jpg" media="(min-width: 1025px)">
                            <source srcset="~/img/slide2-medium.jpg" media="(min-width: 601px)">
                            <img src="~/img/slide2-small.jpg" alt="">
                        </picture>
                    </div>
                </div><div class="owl-item cloned" style="width: 883px;">
                    <div class="item">
                        <picture>
                            <source srcset="~/img/slide3.jpg" media="(min-width: 1025px)">
                            <source srcset="~/img/slide3-medium.jpg" media="(min-width: 601px)">
                            <img src="~/img/slide3-small.jpg" alt="">
                        </picture>
                    </div>
                </div><div class="owl-item" style="width: 883px;">
                    <div class="item">
                        <picture>
                            <source srcset="~/img/slide1.jpg" media="(min-width: 1025px)">
                            <source srcset="~/img/slide1-medium.jpg" media="(min-width: 601px)">
                            <img src="~/img/slide1-small.jpg" alt="">
                        </picture>
                    </div>
                </div><div class="owl-item" style="width: 883px;">
                    <div class="item">
                        <picture>
                            <source srcset="~/img/slide2.jpg" media="(min-width: 1025px)">
                            <source srcset="~/img/slide2-medium.jpg" media="(min-width: 601px)">
                            <img src="~/img/slide2-small.jpg" alt="">
                        </picture>
                    </div>
                </div><div class="owl-item active" style="width: 883px;">
                    <div class="item">
                        <picture>
                            <source srcset="~/img/slide3.jpg" media="(min-width: 1025px)">
                            <source srcset="~/img/slide3-medium.jpg" media="(min-width: 601px)">
                            <img src="~/img/slide3-small.jpg" alt="">
                        </picture>
                    </div>
                </div><div class="owl-item cloned" style="width: 883px;">
                    <div class="item">
                        <picture>
                            <source srcset="~/img/slide1.jpg" media="(min-width: 1025px)">
                            <source srcset="~/img/slide1-medium.jpg" media="(min-width: 601px)">
                            <img src="~/img/slide1-small.jpg" alt="">
                        </picture>
                    </div>
                </div><div class="owl-item cloned" style="width: 883px;">
                    <div class="item">
                        <picture>
                            <source srcset="~/img/slide2.jpg" media="(min-width: 1025px)">
                            <source srcset="~/img/slide2-medium.jpg" media="(min-width: 601px)">
                            <img src="~/img/slide2-small.jpg" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div><div class="owl-nav"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots"><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div></div>
    </div>
</section>




<div>
    <!-- BUTTONS -->
    <section class="buttons">
        <div class="button">
            <a href="#" title="">
                <img src="~/img/icons/catalog.svg" alt="" title=""> Каталог<br>
                <span>Съдържание на данни, резултати и публикации, свързани с Българските антарктически експедиции.</span>
            </a>
        </div>
        <div class="button">
            <a href="#" title="">
                <img src="~/img/icons/library.svg" alt="" title=""> Библиотека<br>
                <span>Актуални новини и предстоящи събития</span>
            </a>
        </div>
        <div class="button">
            <a href="#" title="">
                <img src="~/img/icons/gis.svg" alt="" title=""> ГИС<br>
                <span>Web базирана ГИС за района на БАБ, о. Ливингстон с данни за проектите от Българските антарктически експедиции</span>
            </a>
        </div>
        <div class="button">
            <a href="#" title="">
                <img src="~/img/icons/projects.svg" alt="" title=""> Проекти<br>
                <span>Информация за проектите, провеждани на о. Ливингстън - екипи, резултати, връзка с ГИС</span>
            </a>
        </div>

        <div class="button">
            <a href="#" title="">
                <img src="~/img/icons/reg.svg" alt="" title=""> Регистрация<br>
                <span>Съдържание на данни, резултати и публикации, свързани с Българските антарктически експедиции.</span>
            </a>
        </div>
        <div class="button">
            <a href="#" title="">
                <img src="~/img/icons/tests.svg" alt="" title=""> Проверка на знанията<br>
                <span>Web базирана ГИС за района на БАБ, о. Ливингстон с данни за проектите от Българските антарктически експедиции</span>
            </a>
        </div>
        <div class="button">
            <a href="#" title="">
                <img src="~/img/icons/news.svg" alt="" title=""> Новини и събития<br>
                <span>Актуални новини и предстоящи събития</span>
            </a>
        </div>
        <div class="button">
            <a href="#" title="">
                <img src="~/img/icons/mats.svg" alt="" title=""> Дисциплини и материали<br>
                <span>Информация за проектите, провеждани на о. Ливингстън - екипи, резултати, връзка с ГИС</span>
            </a>
        </div>

    </section><!-- BUTTONS -->
</div>

<!-- NEWS -->
<section class="news">
    <span class="section-title"><a href="#" title="">Новини и събития</a></span>

    <div class="articles">
        <article>
            <div class="news-icon">
                <img src="~/img/icons/news-list.svg" alt="" title="">
            </div>
            <div class="article-title">
                <a href="#" title="">Приветствие към първокурсниците на Геодезически факултет</a><br>
                <span>08.10.2019</span>
            </div>
        </article>

        <article>
            <div class="news-icon">
                <img src="~/img/icons/news-list.svg" alt="" title="">
            </div>

            <div class="article-title">
                <a href="#" title="">РАЗПИС Специалност “Геодезия”, Геодезически факултет</a><br>
                <span>19.08.2019</span>
            </div>
        </article>

        <article>
            <div class="news-icon">
                <img src="~/img/icons/news-list.svg" alt="" title="">
            </div>

            <div class="article-title">
                <a href="#" title="">РАЗПИС Специалност “ Устройство и управление на земи и имоти”, Геодезически факултет</a><br>
                <span>31.05.2019</span>
            </div>

        </article>

        <article>
            <div class="news-icon">
                <img src="~/img/icons/news-list.svg" alt="" title="">
            </div>

            <div class="article-title">
                <a href="#" title="">Класиране магистърска програма "Управление на европейски инфраструктурни проекти" към Геодезически факултет при УАСГ</a><br>
                <span>22.05.2019</span>
            </div>
        </article>
    </div>
</section><!-- NEWS -->
<!-- CONTACTS -->
<section class="contacts">
    <span class="section-title">За контакт</span>

    <div class="articles">
        <article>
            <div class="contact-icon"><img src="~/img/icons/address.svg" alt="" title=""></div>
            <div class="personal-info">
                София 1164,<br>бул. Христо Смирненски № 1
            </div>
        </article>
        <article>
            <div class="contact-icon"><img src="~/img/icons/personal.svg" alt="" title=""></div>
            <div class="personal-info">
                <strong>проф. д-р инж. Елена Пенева-Златкова</strong><br>
                Декан<br>
                Телефон: 9635245/645<br>
                Кабинет: P420<br>
                Имейл: penevae_fgs@uacg.bg
            </div>
        </article>
        <article>
            <div class="contact-icon"><img src="~/img/icons/personal.svg" alt="" title=""></div>
            <div class="personal-info">
                <strong>доц. д-р инж. Иван Кунчев</strong><br>
                Зам.-декан по учебната дейност<br>
                Телефон: 0889476337<br>
                Кабинет: Р207 и Р425<br>
                Имейл: ikunchev_fgs@uacg.bg
            </div>
        </article>
        <article>
            <div class="contact-icon"><img src="~/img/icons/personal.svg" alt="" title=""></div>
            <div class="personal-info">
                <strong>мат. Албена Владимирова</strong><br>
                Инспектор на факултет<br>
                Кабинет: Р326, Р208А<br>
                Имейл: atv_fte@uacg.bg
            </div>
        </article>
    </div>
</section><!-- CONTACTS -->
