@{
    this.ViewData["Title"] = "Privacy Policy";
}
<h1>@this.ViewData["Title"]</h1>

<div class="container">



    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-lg-8 g-mb-30 g-mb-0--lg">

                <h3>Политика за опазване на личните данни</h3>
                <p class="text-justify">Тази политика се отнася за информацията, която може да се събира на уеб-сайта.</p>
                <p class="text-justify"><b>Като се регистрирате в GeodesyApis.com или попълните формата ни за контакт, вие се съгласявате да приемете практиките описани в тази Политика за опазване на личните данни и да ни предоставите действителна и вярна информация, доколкото тя се касае за вас.</b></p>
                <p class="text-justify">
                    GeodesyApis.com знае, че вие сте загрижени за това как информацията за вас се използва и споделя, и ние оценяваме вашето доверие, че ние ще правим това внимателно и разумно.
                    GeodesyApis.com се ангажира да спазва и уважава вашите желания относно информацията, която събираме за вас на нашия уеб сайт.
                </p>

                <h4>Лична информация</h4>
                <p class="text-justify">Информацията, която научаваме от вас, ни помага да персонализираме и непрекъснато да подобряваме начина, по който използвате GeodesyApis.com.</p>
                <p class="text-justify">Историята на вашите транзакции и информацията, която ни предоставяте онлайн на GeodesyApis.com, по телефон или по електронна поща надеждно се съхранява в нашата клиентска база данни и може да се предоставя само на свързаните с нас компании или някои трети страни, които сме проверили внимателно по отношение на тяхната надеждност и почтеност.</p>
                <p class="text-justify">GeodesyApis.com, както и други трети страни, обслужващи поръчката ви, може да ви предоставят информация, свързана с регистрацията и плащането по поръчката ви, в това число рекламни, информационни и други съобщения, на посочения от вас имейл адрес и/или телефонен номер.</p>
                <p class="text-justify">GeodesyApis.com има правомощия да обработва личните ви данни (в това число, но не само име, фамилия, email адрес) и да ги изпраща на посочените по-горе трети страни, за да изпълни задълженията си по поръчката ви.</p>
                <p class="text-justify">Част от информацията, която получаваме от вас, е доброволно подадена, макар много от нея да е нужна, за да изпълняваме както трябва вашите заявки. Неподаването на такава инфомация може да доведе до отказ на вашата поръчка. Освен за изпълняване на вашите поръчки, ние използваме информацията, която ни давате, за такива цели като отговаряне на ваши запитвания, къстомизиране на вашето бъдещо използване на системата и комуникиране с вас.</p>
                <p class="text-justify">Всяка персонална информация, която вие ни разкривате, е защитена. GeodesyApis.com поддържа стандарти и процедури за защита от неоторизирания достъп до клиентска информация, за да предотвратява неоторизираното премахване или променяне на данните. GeodesyApis.com посреща възприетите стандарти за сигурност на всички транзакции, които могат да включват заплащане на такси чрез услуга налична от този сайт, включително използването на криптиране и SSL услуги. За вас е важно да се защитавате от неотоизиран достъп до вашата парола и вашия компютър. Винаги проверявайте дали сте се „отписали” след като завършите използването на споделен компютър.</p>
                <p class="text-justify">По всяко време можете да влизате в сайта и да поправяте цялата информация, която се отнася до вас и която се съхранява от GeodesyApis.com. Вие можете по всяко време да подадете искане към GeodesyApis.com да разкрие с каква лична информация разполагаме за вас и по поискване да промените тази информация.</p>

                <h4>Политика за електронната поща</h4>
                <p class="text-justify">Освен изключенията отбелязани в тази политика, GeodesyApis.com никога няма да продава, споделя или по какъвто и да било друг начин да разпространява вашия e-mail адрес, който сте ни изпратили, или който по друг начин е получен чрез вашето използване на сайта. Всеки e-mail адрес изпратен директно на GeodesyApis.com ще остане единствено притежание на GeodesyApis.com и свързаните с нея компании.</p>
                <p class="text-justify"><b>Ако не желаете да получавате промоционни имейли от GeodesyApis.com в бъдеще,</b> моля известете ни чрез формата за контакт .</p>
                <p class="text-justify">Ако ни предоставите вашия пощенски адрес, можете да получавате периодични имейли от нас с информация за нови продукти и услуги, или за очаквани събития. <b> Ако не желаете да получавате подобни имейли, моля свържете се с нас чрез формата ни за контакти.</b></p>

                <h4>Бисквитки</h4>
                <p class="text-justify">Както повечето уеб сайтове, които извършват продажби на дребно, ние използваме "бисквитки" ("cookies"), които представляват парчета данни изпращани към вашия браузър, които позволяват на нашия уеб сайт да ви идентифицира, когато осъществявате достъп до него. Макар да се изразява известна загриженост за възможни усложнения по отношение на личната информация чрез "бисквитки", за вас е важно да разберете, че " бисквитки" не могат да извличат никаква информация за вас, която вие не сте вече разкрили доброволно. Ако желаете, "help" частта от лентата с инструменти на повечето браузъри ще ви даде информация как да предотвратявате приемането на нови  „бисквитки” от вашия браузър, как браузърът да ви информира, когато получавате нова  "бисквитки", или как напълно да деактивирате  "бисквитки".</p>
                <p class="text-justify">Ако имате някакви въпроси относно който и да е от елементите на нашата уеб политика за опазване на личните данни, моля пишете ни чрез формата за контакт.</p>

            </div>

            @*


            <!-- Sidebar -->
            <div class="col-lg-4">
                <div class="g-mb-20">


                    <div class="u-heading-v2-3--bottom g-brd-primary g-mb-10">
                        <h3 class="h4 g-color-black mb-0">Водещи новини</h3>
                    </div>
                    <article class="media g-mb-10">
                        <a class="d-flex mr-3" href="https://www.apnews.com/efa604abc5e03dd714c164611fdcfb52" target="_blank">
                            <img class="rounded g-width-75 g-height-55" src="https://storage.googleapis.com/afs-prod/media/fb01b503159740eeae39a2a91a235a79/400.jpeg" title="Sanders drops 2020 bid, leaving Biden as likely nominee" alt="Sanders drops 2020 bid, leaving Biden as likely nominee">
                        </a>
                        <div class="media-body">
                            <h3 class="h6">
                                <a class="u-link-v5 g-color-black g-color-primary--hover" href="https://www.apnews.com/efa604abc5e03dd714c164611fdcfb52" target="_blank">Sanders drops 2020 bid, leaving Biden as likely nominee</a>
                            </h3>
                            <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                                <li class="list-inline-item">
                                    <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="https://www.apnews.com" target="_blank">AP</a>
                                </li>
                                <li class="list-inline-item">/</li>
                                <li class="list-inline-item">
                                    <time datetime="2020-04-08T15:48:14.2075305" title="2020-04-08T15:48:14.2075305">сря, 8 апр 2020 18:48</time>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <article class="media g-mb-10">
                        <a class="d-flex mr-3" href="https://edition.cnn.com/2020/04/08/politics/bernie-sanders-drops-out/index.html" target="_blank">
                            <img class="rounded g-width-75 g-height-55" src="https://cdn.cnn.com/cnnnext/dam/assets/190219065032-03-bernie-sanders-lead-image-1128-large-tease.jpg" title="Bernie Sanders drops out of race (Path to Democratic nomination is cleared for Joe Biden)" alt="Bernie Sanders drops out of race (Path to Democratic nomination is cleared for Joe Biden)">
                        </a>
                        <div class="media-body">
                            <h3 class="h6">
                                <a class="u-link-v5 g-color-black g-color-primary--hover" href="https://edition.cnn.com/2020/04/08/politics/bernie-sanders-drops-out/index.html" target="_blank">Bernie Sanders drops out of race (Path to Democratic nomination is cleared for Joe Biden)</a>
                            </h3>
                            <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                                <li class="list-inline-item">
                                    <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="https://edition.cnn.com" target="_blank">CNN</a>
                                </li>
                                <li class="list-inline-item">/</li>
                                <li class="list-inline-item">
                                    <time datetime="2020-04-08T15:48:14.2075302" title="2020-04-08T15:48:14.2075302">сря, 8 апр 2020 18:48</time>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <article class="media g-mb-10">
                        <a class="d-flex mr-3" href="https://www.dnes.bg/koronavirusat/2020/04/08/kak-se-spraviat-italiancite-koito-niamat-pari-da-hraniat-decata-si.445232" target="_blank">
                            <img class="rounded g-width-75 g-height-55" src="https://img-cdn.dnes.bg/d/images/photos/0445/0000445232-lifestyle.jpg" title="Как се справят италианците, които нямат пари да хранят децата си?" alt="Как се справят италианците, които нямат пари да хранят децата си?">
                        </a>
                        <div class="media-body">
                            <h3 class="h6">
                                <a class="u-link-v5 g-color-black g-color-primary--hover" href="https://www.dnes.bg/koronavirusat/2020/04/08/kak-se-spraviat-italiancite-koito-niamat-pari-da-hraniat-decata-si.445232" target="_blank">Как се справят италианците, които нямат пари да хранят децата си?</a>
                            </h3>
                            <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                                <li class="list-inline-item">
                                    <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="https://www.dnes.bg" target="_blank">Dnes.bg</a>
                                </li>
                                <li class="list-inline-item">/</li>
                                <li class="list-inline-item">
                                    <time datetime="2020-04-08T15:48:14.2075284" title="2020-04-08T15:48:14.2075284">сря, 8 апр 2020 18:48</time>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <article class="media g-mb-10">
                        <a class="d-flex mr-3" href="http://www.bta.bg/bg/c/NF/id/2186815" target="_blank">
                            <img class="rounded g-width-75 g-height-55" src="http://www.bta.bg/bg/gallery/showImage/?image=6606995&amp;size=220" title="Предложения за промени ще дадат възможност НЗОК да заплаща на лабораториите диаг..." alt="Предложения за промени ще дадат възможност НЗОК да заплаща на лабораториите диаг...">
                        </a>
                        <div class="media-body">
                            <h3 class="h6">
                                <a class="u-link-v5 g-color-black g-color-primary--hover" href="http://www.bta.bg/bg/c/NF/id/2186815" target="_blank">Предложения за промени ще дадат възможност НЗОК да заплаща на лабораториите диаг...</a>
                            </h3>
                            <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                                <li class="list-inline-item">
                                    <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="http://www.bta.bg/bg/" target="_blank">BTA.bg</a>
                                </li>
                                <li class="list-inline-item">/</li>
                                <li class="list-inline-item">
                                    <time datetime="2020-04-08T15:41:36.5095933" title="2020-04-08T15:41:36.5095933">сря, 8 апр 2020 18:41</time>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <article class="media g-mb-10">
                        <a class="d-flex mr-3" href="https://www.euronews.com/2020/04/08/coronavirus-live-france-deaths-top-10-000-while-johnson-has-second-night-in-intensive-care" target="_blank">
                            <img class="rounded g-width-75 g-height-55" src="/images/mainnews/default.png" title="Watch Live: WHO gives update on COVID-19 pandemic" alt="Watch Live: WHO gives update on COVID-19 pandemic">
                        </a>
                        <div class="media-body">
                            <h3 class="h6">
                                <a class="u-link-v5 g-color-black g-color-primary--hover" href="https://www.euronews.com/2020/04/08/coronavirus-live-france-deaths-top-10-000-while-johnson-has-second-night-in-intensive-care" target="_blank">Watch Live: WHO gives update on COVID-19 pandemic</a>
                            </h3>
                            <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                                <li class="list-inline-item">
                                    <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="https://www.euronews.com/" target="_blank">Euronews</a>
                                </li>
                                <li class="list-inline-item">/</li>
                                <li class="list-inline-item">
                                    <time datetime="2020-04-08T15:38:07.7228173" title="2020-04-08T15:38:07.7228173">сря, 8 апр 2020 18:38</time>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <article class="media g-mb-10">
                        <a class="d-flex mr-3" href="https://btvnovinite.bg/svetut/barni-sandars-se-otkaza-ot-nadprevarata-za.html" target="_blank">
                            <img class="rounded g-width-75 g-height-55" src="https://img.bg.sof.cmestatic.com/media/images/704x396/Nov2016/2111221039.jpg" title="Бърни Сандърс се отказа от надпреварата за президент на САЩ" alt="Бърни Сандърс се отказа от надпреварата за президент на САЩ">
                        </a>
                        <div class="media-body">
                            <h3 class="h6">
                                <a class="u-link-v5 g-color-black g-color-primary--hover" href="https://btvnovinite.bg/svetut/barni-sandars-se-otkaza-ot-nadprevarata-za.html" target="_blank">Бърни Сандърс се отказа от надпреварата за президент на САЩ</a>
                            </h3>
                            <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                                <li class="list-inline-item">
                                    <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="https://btvnovinite.bg" target="_blank">bTV</a>
                                </li>
                                <li class="list-inline-item">/</li>
                                <li class="list-inline-item">
                                    <time datetime="2020-04-08T15:36:50.3100669" title="2020-04-08T15:36:50.3100669">сря, 8 апр 2020 18:36</time>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <article class="media g-mb-10">
                        <a class="d-flex mr-3" href="https://news.bnt.bg/news/blizo-62-000-bezrabotni-ot-nachaloto-na-izvanrednoto-polozhenie-1048075news.html" target="_blank">
                            <img class="rounded g-width-75 g-height-55" src="https://news.bnt.bg/f/news/b/1048/d3b2462c53df88a0b584670ed6912364.png" title="Близо 62 000 безработни от началото на извънредното положение" alt="Близо 62 000 безработни от началото на извънредното положение">
                        </a>
                        <div class="media-body">
                            <h3 class="h6">
                                <a class="u-link-v5 g-color-black g-color-primary--hover" href="https://news.bnt.bg/news/blizo-62-000-bezrabotni-ot-nachaloto-na-izvanrednoto-polozhenie-1048075news.html" target="_blank">Близо 62 000 безработни от началото на извънредното положение</a>
                            </h3>
                            <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                                <li class="list-inline-item">
                                    <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="https://news.bnt.bg" target="_blank">БНТ</a>
                                </li>
                                <li class="list-inline-item">/</li>
                                <li class="list-inline-item">
                                    <time datetime="2020-04-08T15:16:52.8783978" title="2020-04-08T15:16:52.8783978">сря, 8 апр 2020 18:16</time>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <article class="media g-mb-10">
                        <a class="d-flex mr-3" href="https://nova.bg/news/view/2020/04/08/284389/593-станаха-потвърдените-случаи-на-covid-19-у-нас/" target="_blank">
                            <img class="rounded g-width-75 g-height-55" src="https://nstatic.nova.bg/public/pics/nova/article/980x551_1586352499.jpg" title="593 станаха потвърдените случаи на COVID-19 у нас" alt="593 станаха потвърдените случаи на COVID-19 у нас">
                        </a>
                        <div class="media-body">
                            <h3 class="h6">
                                <a class="u-link-v5 g-color-black g-color-primary--hover" href="https://nova.bg/news/view/2020/04/08/284389/593-станаха-потвърдените-случаи-на-covid-19-у-нас/" target="_blank">593 станаха потвърдените случаи на COVID-19 у нас</a>
                            </h3>
                            <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                                <li class="list-inline-item">
                                    <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="https://nova.bg" target="_blank">Nova</a>
                                </li>
                                <li class="list-inline-item">/</li>
                                <li class="list-inline-item">
                                    <time datetime="2020-04-08T14:52:30.4463538" title="2020-04-08T14:52:30.4463538">сря, 8 апр 2020 17:52</time>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <article class="media g-mb-10">
                        <a class="d-flex mr-3" href="https://www.dnevnik.bg/bulgaria/2020/04/08/4051752_koronavirusut_v_bulgariia_zarazenite_se_uvelichiha_s_12/?ref=home_mainStory" target="_blank">
                            <img class="rounded g-width-75 g-height-55" src="https://www.dnevnik.bg/shimg/zx620y349_4052069.jpg" title="Коронавирусът в България: Заразените се увеличиха с 12" alt="Коронавирусът в България: Заразените се увеличиха с 12">
                        </a>
                        <div class="media-body">
                            <h3 class="h6">
                                <a class="u-link-v5 g-color-black g-color-primary--hover" href="https://www.dnevnik.bg/bulgaria/2020/04/08/4051752_koronavirusut_v_bulgariia_zarazenite_se_uvelichiha_s_12/?ref=home_mainStory" target="_blank">Коронавирусът в България: Заразените се увеличиха с 12</a>
                            </h3>
                            <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                                <li class="list-inline-item">
                                    <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="https://www.dnevnik.bg/" target="_blank">Dnevnik.bg</a>
                                </li>
                                <li class="list-inline-item">/</li>
                                <li class="list-inline-item">
                                    <time datetime="2020-04-08T14:42:19.0797624" title="2020-04-08T14:42:19.0797624">сря, 8 апр 2020 17:42</time>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <article class="media g-mb-10">
                        <a class="d-flex mr-3" href="https://www.mediapool.bg/sluchaite-na-covid-19-u-nas-sa-veche-593-zhertvite-24-news305942.html" target="_blank">
                            <img class="rounded g-width-75 g-height-55" src="https://www.mediapool.bg/images/305/f9a0faccb0fb9694aca7c455d4e6c38e.jpg" title="Случаите на Covid-19 у нас са вече 593, жертвите – 24" alt="Случаите на Covid-19 у нас са вече 593, жертвите – 24">
                        </a>
                        <div class="media-body">
                            <h3 class="h6">
                                <a class="u-link-v5 g-color-black g-color-primary--hover" href="https://www.mediapool.bg/sluchaite-na-covid-19-u-nas-sa-veche-593-zhertvite-24-news305942.html" target="_blank">Случаите на Covid-19 у нас са вече 593, жертвите – 24</a>
                            </h3>
                            <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                                <li class="list-inline-item">
                                    <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="https://www.mediapool.bg/" target="_blank">Mediapool.bg</a>
                                </li>
                                <li class="list-inline-item">/</li>
                                <li class="list-inline-item">
                                    <time datetime="2020-04-08T14:31:49.5201760" title="2020-04-08T14:31:49.5201760">сря, 8 апр 2020 17:31</time>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <article class="media g-mb-10">
                        <a class="d-flex mr-3" href="https://www.reuters.com/article/us-health-coronavirus-trump-politics-ins/trump-holds-support-of-political-base-in-virus-prone-states-idUSKBN21Q19Q" target="_blank">
                            <img class="rounded g-width-75 g-height-55" src="https://static.reuters.com/resources/media/global/assets/images/20200408/20200408_4955952320200408131801.jpg" title="Trump holds support of base in virus-prone states" alt="Trump holds support of base in virus-prone states">
                        </a>
                        <div class="media-body">
                            <h3 class="h6">
                                <a class="u-link-v5 g-color-black g-color-primary--hover" href="https://www.reuters.com/article/us-health-coronavirus-trump-politics-ins/trump-holds-support-of-political-base-in-virus-prone-states-idUSKBN21Q19Q" target="_blank">Trump holds support of base in virus-prone states</a>
                            </h3>
                            <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                                <li class="list-inline-item">
                                    <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="https://www.reuters.com" target="_blank">Reuters</a>
                                </li>
                                <li class="list-inline-item">/</li>
                                <li class="list-inline-item">
                                    <time datetime="2020-04-08T13:37:08.2971653" title="2020-04-08T13:37:08.2971653">сря, 8 апр 2020 16:37</time>
                                </li>
                            </ul>
                        </div>
                    </article>


                </div>
                <div class="g-mb-20">
                    <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- GeodesyApis.com_Sidebar -->
                    <ins class="adsbygoogle" style="display: block" data-ad-client="ca-pub-4541634013740958" data-ad-slot="6075962183" data-ad-format="auto" data-full-width-responsive="true"></ins>
                    <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <div class="g-mb-20">
                    <div class="u-heading-v2-3--bottom g-brd-primary g-mb-10">
                        <h3 class="h4 g-color-black mb-0">Времето</h3>
                    </div>
                    <article class="media g-mb-10">
                        <iframe src="https://forecabox.foreca.com/get/44840" width="300" height="250" marginwidth="0" marginheight="0" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
                    </article>
                </div>
            </div>
        </div>*@
    </main>
</div>
