@model GeodesyApi.Web.ViewModels.News.EditNewsViewModel
@{
    this.ViewData["Title"] = "Create a new post";
}
<!-- PAGE -->
<section class="page news">
    <aside>
        <a asp-route="NumberOfNewsPages" style="text-align:center"><h1><img src="~/img/icons/news.svg" alt="" title="">Редактиране на<br />новини и събития</h1></a>
    </aside>

    <script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            plugins: ["image paste table link code media"]
        });
    </script>

    <div class="content">
        <div class="news-container">
                <div class="col-md-6 offset-md-3 mt-5">
                    <form method="post" asp-controller="News" asp-action="Create" enctype="multipart/form-data">
                        <div>
                            <label asp-for="Title"></label>
                            <input asp-for="Title" class="input" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>

                        <div>
                            <label asp-for="Content"></label>
                            <textarea asp-for="Content" class="form-control"></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>

                        <br />

                        <div>
                            <label asp-for="Category"></label>
                            <label asp-for="Category" class="dropdown-item">@Html.DropDownListFor(x => x.Category, @Html.GetEnumSelectList(typeof(GeodesyApi.Data.Models.Enums.NewsType)), new { @class = "form-control" })</label>
                            <span asp-validation-for="Category" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="Group"></label>
                            <label asp-for="Group" class="dropdown-item">@Html.DropDownListFor(x => x.Group, @Html.GetEnumSelectList(typeof(GeodesyApi.Data.Models.Enums.NewsGroupType)), new { @class = "form-control" })</label>
                            <span asp-validation-for="Group" class="text-danger"></span>
                        </div>
                        <hr>
                        <div class="form-group mt-3">
                            <label class="mr-2">Прикачи изображение:</label>
                            <input asp-for="Image" type="file" name="Image" value="Прикачи изображение">
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                        <hr>
                        <button type="submit" class="btn btn-primary">Запази промените</button>
                    </form>
                    </div>
        </div>
    </div>
    </div>

</section><!-- PAGE -->


<script src="~/js/jquery.min.js" type="text/javascript"></script>
