@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="bg">

<head>

    <link rel="stylesheet" href="~/css/errorPage.css" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body>

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Oops!</h1>
            </div>
            <h2>404 - Page not found</h2>
            <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
            <a asp-controller="Home" asp-action="Index">Go To Homepage</a>
        </div>
    </div>

</body>

</html>
