@model GeodesyApi.Web.ViewModels.Test

    <form method="post" asp-controller="Test" asp-action="Test" enctype="multipart/form-data">
        Email: <input type="text" asp-for="email" name="email"><br>
        <input type="hidden" asp-for="retypeEmail" name="retype-email">
        <input type="submit" value="Submit">
    </form>
<script>
    document.forms[0].addEventListener('submit', function(){
    document.element('[name="retype-email"]').value =  document.querySelector('[name="email"]').value;
});
</script>