@model GeodesyApi.Web.ViewModels.Materials.MaterialUploadViewModel

@using GeodesyApi.Data.Models.Enums


@{
    this.ViewData["Title"] = "Privacy Policy";
}
@*<form asp-controller="Materials" asp-action="Upload" method="post" enctype="multipart/form-data">
        <div>
            <label asp-for="Category" class="control-label"><b>Категория</b></label>
            <input asp-for="Category" class="control-label" type="text" placeholder="Избери категория" required>
        </div>
        <div>
            <label asp-for="Title" class="control-label"><b>Заглавие</b></label>
            <input asp-for="Title" class="control-label" type="text" placeholder="Въведи заглавие" required>
        </div>

        <label for="psw"><b>Прикачи</b></label>
        <input type="file" name="files" value="other" multiple>

        <button type="submit" value="Upload" />Готово
    </form>*@



<div class="col-md-6 offset-md-3 mt-5">
    <h1>Прикачи нови материали</h1>
    <form asp-controller="Materials" asp-action="Upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Title" class="control-label"><b>Заглавие</b></label>
            <input asp-for="Title" class="control-label" type="text" placeholder="Въведи заглавие" required>
        </div>
        <div class="form-group">
            <label asp-for="Category" class="control-label"><b>Категория</b>@Html.DropDownListFor(x => x.Category, @Html.GetEnumSelectList(typeof(GeodesyApi.Data.Models.Enums.MaterialsType)), new { @class = "form-control" })</label>
        </div>
        <hr>
        <div class="form-group mt-3">
            <label class="mr-2">Прикачи материали:</label>
            <input asp-for="Files" type="file" name="files" value="other" multiple>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>